<section class="section-gap skill-area" style="z-index:9999;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="row fullscreen align-items-center justify-content-between">

                SOBRE MI
            </div>

        </div>
    </div>
</section>