<footer class="section-gap footer-widget-area">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="subscription-area">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div id="mc_embed_signup">
                        <!-- <form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01" method="get" class="subscription relative">
                            <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required>
                            <div style="position: absolute; left: -5000px;">
                                <input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
                            </div>
                            <button class="primary-btn">Subscribe now<span class="lnr lnr-arrow-right"></span></button>
                            <div class="info"></div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">About Agency</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Navigation Links</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Main Features</a></li>
                        <li><a href="#">Offered Services</a></li>
                        <li><a href="#">Latest Portfolio</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Navigation Links</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Works & Builders</a></li>
                        <li><a href="#">Works & Wordpress</a></li>
                        <li><a href="#">Works & Templates</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Instafeed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="assets/libs/img/i1.jpg" alt=""></li>
                        <li><img src="assets/libs/img/i2.jpg" alt=""></li>
                        <li><img src="assets/libs/img/i3.jpg" alt=""></li>
                        <li><img src="assets/libs/img/i4.jpg" alt=""></li>
                        <li><img src="assets/libs/img/i5.jpg" alt=""></li>
                        <li><img src="assets/libs/img/i6.jpg" alt=""></li>
                        <li><img src="assets/libs/img/i7.jpg" alt=""></li>
                        <li><img src="assets/libs/img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <p class="footer-text m-0">Copyright &copy; 2018 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/">Colorlib</a></p>
            <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>