<section class="section-gap skill-area" style="z-index:9999;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="row fullscreen align-items-center justify-content-between">

                <div class="col-lg-4">
                    <h1>Bank Challenge<br> <small>Un banco para SúperHeroes</small></h1>
                </div>
                <div class="col-lg-6">
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <!-- <div class="alert alert-success" *ngIf="status == 'success'">
                            Registro completado correctamente, <a [routerLink]="['/login']">Identificate aquí</a>
                        </div> -->
                        <div class="alert alert-danger" *ngIf="status == 'error'">
                            Credenciales no validas, intente nuevamente.
                        </div>
                        <div class="form-group">
                            <label>Username:</label>
                            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" />

                            <label>SuperPass:</label>
                            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
                        </div>
                        <button type="submit" class="primary-btn">Acceder<span class="lnr lnr-arrow-right"></span>
            </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>